/******************** GENERAL ***************/
.center-text {
	text-align: center;
}
html {
	scroll-behavior: smooth;
}

/* general padding, spacing, and colors */
.section {
	width: 100%;
	padding: 5%;
	padding-left: 15%;
	padding-right: 15%;
	background-color: white;
	color: black;
}

/* section heading */
.section-heading {
	margin-bottom: 40px;
}

.section-title {
	font-size: 60px;
	margin-bottom: 20px;
}

body {
    font-family: 'Arial-Round';
}

/*************** FLEXBOX  TOOLS ************/

/* variants on containers */
.my-container {
	display: flex;
	align-items: center;
	align-content: space-around;
}

/* different ways to justify content */
.space {
	justify-content: space-around;
}

.between {
	justify-content: space-between;
}

.center {
	justify-content: center;
}

/* set flex direction  */
.column-dir {
	flex-direction: column;
}

.row-dir {
	flex-direction: row;
}

/* align items  */
.top-align {
	align-items: start;
}

.stretch {
	align-items: stretch;
}

/***************** HOME PAGE ****************/
.hero-img {
	width: 100%;
	background-image: linear-gradient(251.26deg, rgba(196, 219, 98, 0.9) 11.09%, rgba(184, 215, 113, 0.9) 25.48%, rgba(137, 202, 134, 0.9) 51.17%, rgba(118, 201, 177, 0.9) 76.66%, rgba(92, 195, 219, 0.9) 100%), url("images/heroimage.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	padding: 0px;
	background-position: center;
	background-size: cover;
}
.heroContainer {
	width: 100%;
	padding: 13%;
	height: 100vh;
}
.heroText {
	width: 85%;
	color: white;
}
.heroDescript {
	font-size: 36px;
    line-height: 42px;
    margin-top: 13px
}
.heroTitle {
	font-size: 72px;
    line-height: 83px;
    color: white;
    margin-top: 170px
}
.actionBtn {
	font-size: 30px;
    line-height: 35px;
	margin-top: 71px;
	background: transparent;
	border: none;
}
.actionBtn:hover {
	text-decoration: underline;
}

/************** NAV BAR  ********************/
/* general nav bar layout / padding */
.navbar {
	padding: 23px 50px 10px 50px;
	color: white;
}

/* general header (e.g. coloring, position ) */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.after-heading {
	margin-top: 50px;
}

/* button to toggle menu in mobile */
.navbar-toggler {
	border-width: 3px;
	border-radius: 5px;
}

/* links in nav bar */
.links {
	height: auto;
	display: flex;
	float: right;
	text-decoration: none;
}

/* list of nav items */
li.nav {
	padding: 0 30px;
}

/* colors and fonts of nav links */
.navbar-dark .navbar-nav .nav-link {
	font-size: 24px;
    line-height: 28px;
	color: white;
	font-style: normal;
    margin-left: 31px;
    margin-right: 31px;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
	text-decoration: none;
}

.navbar-dark .navbar-toggler {
	border-color: white;
	border-width: 2px;
}

/*************** PANEL CARDS ********************/
.panel-container {
	margin: 35px;
	box-shadow: 2px 5px 8px #888888;
	width: 100%
}
.panel-title {
	padding: 20px;
	color: white;
	font-size: 35px;
	line-height: 41px;
	width: 100%;
	background: linear-gradient(245.35deg, #5CC3DB 6.73%, #76C9B1 32.11%, #89CA86 65.6%, #C4DB62 87.43%, #CEE08A 101.13%);
}
.panel-img {
	width: 100%;
	height: 300px;
	position: relative;
}
.panel-description {
	margin: 20px;
	color: black;
}
.panel-icon {
	height: 80px
}